html {
    margin: 0;
    padding: 0;
}

:root { 
    --white: #fff;
    --red: #FF0002;
}

body{
    padding: 1em;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-swiss{
    height: 200px;
    width: 200px;
    background-color: var(--red);
    position: relative;
}

.cross{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
}

.cross1{
    height: 37.5px;
    width: 125px;
}

.cross2{
    height: 125px;
    width: 37.5px;
}